<div  class="container mt-5" >
  <div class="card text-center" style="padding:20px;">
      <h1>creer votre compte</h1>
     
  </div>
</div>
<div class="con">
<button  id ="btn" type="button" class="btn btn-primary" routerLink="/home">retour</button>
</div>
<div  class="container mt-5" >
  <div class="card text-center" style="padding:20px;">
     <img src="assets/images/cli.jpg"class="images_petit" alt="client">
      <h1>je veux engager des professionnels</h1>
      <div>Demander des services</div>
        <div>  obtenir des devis et engager des professionnels</div>
        <div class="container"> 
      <button class="nav-link"  id ="btn" type="button"  class="btn btn-primary" routerLink="/register">client</button>
      </div>
  </div>
</div>
<div  class="container mt-5" >
  <div class="card text-center" style="padding:20px;">
     <img src="assets/images/pro.jpg"class="images_petit" alt="professionnel">
      <h1>je veux développer mon entreprise</h1>

      <div>Répondre à des leads</div>
        <div>  obtenir du travail et développer votre entreprise</div>
        <div class="container"> 
       
          <button   id ="btn"  type="button"  class="btn btn-primary" routerLink="/regist">professionnel</button>
  </div></div>
</div>
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
